.wrapper {
  position: relative;
  margin-inline: auto;
  display: flex;
  width: 100%;
  max-width: 1440px;
  gap: 65px;
  padding: 48px 64px;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
