:root {
  --main: #101828;
  --text: #475467;
  --white: #ffffff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --gray: #6c717b;
  --gray-light: #dadde1;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;
  --grey-green: #829b91;
  --olive: #f0f1f1;
  --green-hover: #6d7b75;

  --font-sans:
    var(--font-inter), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, sans-serif;
  --font-heading: var(--font-manrope), var(--font-sans);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

body {
  color: var(--main);
  font-family: var(--font-sans);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button {
  font: inherit;
  color: inherit;
  background: none;
  border: 0;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

input,
textarea,
select {
  font: inherit;
  color: inherit;
  border: 0;
}

fieldset {
  border: 0;
  min-width: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
