.empty {
  color: var(--text);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
  background-color: var(--inputs);
  padding: 16px;
}

.header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.avatar {
  display: flex;
  height: 60px;
  width: 60px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: #fff;
  font-size: 24px;
  font-weight: 600;
  color: var(--main);
}

.meta {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.name {
  font-weight: 600;
  color: var(--main);
}

.comment {
  color: var(--text);
}
